@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.WelcomeMessage</h1>
<p><strong>Today`s Date : </strong>@ViewBag.Today</p>
<p><strong>Total Students : </strong>@ViewData["StudentCount"]</p>
