@{
    ViewData["Title"] = "Success Page";
}

<h2>Success</h2>
<h4>@ViewBag.SuccessMessage</h4>
<p><a  asp-controller="Student" asp-action="AllStudents">All Students</a></p>
                       